<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>467038708115-8pboqode7uas22ab3f3bi766s3186am2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.467038708115-8pboqode7uas22ab3f3bi766s3186am2</string>
	<key>API_KEY</key>
	<string>AIzaSyBdUeLoeadMZ30KoO33B5UtHT4S4BamUiM</string>
	<key>GCM_SENDER_ID</key>
	<string>467038708115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.swego26.CoffeeFetch</string>
	<key>PROJECT_ID</key>
	<string>spotsquad-9bc3d</string>
	<key>STORAGE_BUCKET</key>
	<string>spotsquad-9bc3d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:467038708115:ios:9ad1fc561c9edcf820c866</string>
</dict>
</plist>
